<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>abbr</key>
		<string>GL</string>
		<key>cn</key>
		<string>格陵蘭</string>
		<key>code</key>
		<string>299</string>
		<key>en</key>
		<string>Greenland</string>
		<key>pinyin</key>
		<string>gelinglan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CD</string>
		<key>cn</key>
		<string>剛果民主共和國</string>
		<key>code</key>
		<string>243</string>
		<key>en</key>
		<string>Democratic Republic of the Congo</string>
		<key>pinyin</key>
		<string>gangguominzhugongheguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GE</string>
		<key>cn</key>
		<string>格魯吉亞</string>
		<key>code</key>
		<string>995</string>
		<key>en</key>
		<string>Georgia</string>
		<key>pinyin</key>
		<string>gelujiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GY</string>
		<key>cn</key>
		<string>圭亞那</string>
		<key>code</key>
		<string>592</string>
		<key>en</key>
		<string>Guyana</string>
		<key>pinyin</key>
		<string>guiyana</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GD</string>
		<key>cn</key>
		<string>格林納達</string>
		<key>code</key>
		<string>1473</string>
		<key>en</key>
		<string>Grenada</string>
		<key>pinyin</key>
		<string>gelinnada</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CU</string>
		<key>cn</key>
		<string>古巴</string>
		<key>code</key>
		<string>53</string>
		<key>en</key>
		<string>Cuba</string>
		<key>pinyin</key>
		<string>guba</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GU</string>
		<key>cn</key>
		<string>關島</string>
		<key>code</key>
		<string>1671</string>
		<key>en</key>
		<string>Guam</string>
		<key>pinyin</key>
		<string>guandao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GP</string>
		<key>cn</key>
		<string>瓜德羅普島</string>
		<key>code</key>
		<string>590</string>
		<key>en</key>
		<string>Guadeloupe</string>
		<key>pinyin</key>
		<string>guadeluopudao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CG</string>
		<key>cn</key>
		<string>剛果</string>
		<key>code</key>
		<string>242</string>
		<key>en</key>
		<string>Republic Of The Congo</string>
		<key>pinyin</key>
		<string>gangguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CO</string>
		<key>cn</key>
		<string>哥倫比亞</string>
		<key>code</key>
		<string>57</string>
		<key>en</key>
		<string>Colombia</string>
		<key>pinyin</key>
		<string>gelunbiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GM</string>
		<key>cn</key>
		<string>岡比亞</string>
		<key>code</key>
		<string>220</string>
		<key>en</key>
		<string>Gambia</string>
		<key>pinyin</key>
		<string>gangbiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CR</string>
		<key>cn</key>
		<string>哥斯達黎加</string>
		<key>code</key>
		<string>506</string>
		<key>en</key>
		<string>Costa Rica</string>
		<key>pinyin</key>
		<string>gesidalijia</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>NL</string>
		<key>cn</key>
		<string>荷蘭</string>
		<key>code</key>
		<string>31</string>
		<key>en</key>
		<string>Netherlands</string>
		<key>pinyin</key>
		<string>helan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>ME</string>
		<key>cn</key>
		<string>黑山共和國</string>
		<key>code</key>
		<string>382</string>
		<key>en</key>
		<string>Montenegro</string>
		<key>pinyin</key>
		<string>heishangongheguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>HT</string>
		<key>cn</key>
		<string>海地</string>
		<key>code</key>
		<string>509</string>
		<key>en</key>
		<string>Haiti</string>
		<key>pinyin</key>
		<string>haidi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>HN</string>
		<key>cn</key>
		<string>洪都拉斯</string>
		<key>code</key>
		<string>504</string>
		<key>en</key>
		<string>Honduras</string>
		<key>pinyin</key>
		<string>hongdulasi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>KR</string>
		<key>cn</key>
		<string>韓國</string>
		<key>code</key>
		<string>82</string>
		<key>en</key>
		<string>South Korea</string>
		<key>pinyin</key>
		<string>hanguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AN</string>
		<key>cn</key>
		<string>荷屬安的列斯群島</string>
		<key>code</key>
		<string>599</string>
		<key>en</key>
		<string>Netherlands Antilles</string>
		<key>pinyin</key>
		<string>heshuandisiliequndao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>KZ</string>
		<key>cn</key>
		<string>哈薩克斯坦</string>
		<key>code</key>
		<string>7</string>
		<key>en</key>
		<string>Kazakhstan</string>
		<key>pinyin</key>
		<string>hasakesitan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>UY</string>
		<key>cn</key>
		<string>烏拉圭</string>
		<key>code</key>
		<string>598</string>
		<key>en</key>
		<string>Uruguay</string>
		<key>pinyin</key>
		<string>wulagui</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>UZ</string>
		<key>cn</key>
		<string>烏茲別克斯坦</string>
		<key>code</key>
		<string>998</string>
		<key>en</key>
		<string>Uzbekistan</string>
		<key>pinyin</key>
		<string>wuzibiekesitan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>VE</string>
		<key>cn</key>
		<string>委內瑞拉</string>
		<key>code</key>
		<string>58</string>
		<key>en</key>
		<string>Venezuela</string>
		<key>pinyin</key>
		<string>weineiruila</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>VU</string>
		<key>cn</key>
		<string>瓦努阿圖</string>
		<key>code</key>
		<string>678</string>
		<key>en</key>
		<string>Vanuatu</string>
		<key>pinyin</key>
		<string>wanuatu</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>UG</string>
		<key>cn</key>
		<string>烏幹達</string>
		<key>code</key>
		<string>256</string>
		<key>en</key>
		<string>Uganda</string>
		<key>pinyin</key>
		<string>wuganda</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>UA</string>
		<key>cn</key>
		<string>烏克蘭</string>
		<key>code</key>
		<string>380</string>
		<key>en</key>
		<string>Ukraine</string>
		<key>pinyin</key>
		<string>wukelan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GT</string>
		<key>cn</key>
		<string>危地馬拉</string>
		<key>code</key>
		<string>502</string>
		<key>en</key>
		<string>Guatemala</string>
		<key>pinyin</key>
		<string>weidimala</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BN</string>
		<key>cn</key>
		<string>文萊</string>
		<key>code</key>
		<string>673</string>
		<key>en</key>
		<string>Brunei</string>
		<key>pinyin</key>
		<string>wenlai</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GW</string>
		<key>cn</key>
		<string>幾內亞比紹</string>
		<key>code</key>
		<string>245</string>
		<key>en</key>
		<string>Guinea-Bissau</string>
		<key>pinyin</key>
		<string>jineiyabishao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CZ</string>
		<key>cn</key>
		<string>捷克</string>
		<key>code</key>
		<string>420</string>
		<key>en</key>
		<string>Czech Republic</string>
		<key>pinyin</key>
		<string>jieke</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>KI</string>
		<key>cn</key>
		<string>基裏巴斯</string>
		<key>code</key>
		<string>686</string>
		<key>en</key>
		<string>Kiribati</string>
		<key>pinyin</key>
		<string>jilibasi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CA</string>
		<key>cn</key>
		<string>加拿大</string>
		<key>code</key>
		<string>1</string>
		<key>en</key>
		<string>Canada</string>
		<key>pinyin</key>
		<string>jianada</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>KG</string>
		<key>cn</key>
		<string>吉爾吉斯斯坦</string>
		<key>code</key>
		<string>996</string>
		<key>en</key>
		<string>Kyrgyzstan</string>
		<key>pinyin</key>
		<string>jierjisisitan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GH</string>
		<key>cn</key>
		<string>加納</string>
		<key>code</key>
		<string>233</string>
		<key>en</key>
		<string>Ghana</string>
		<key>pinyin</key>
		<string>jiana</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GA</string>
		<key>cn</key>
		<string>加蓬</string>
		<key>code</key>
		<string>241</string>
		<key>en</key>
		<string>Gabon</string>
		<key>pinyin</key>
		<string>jiapeng</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>ZW</string>
		<key>cn</key>
		<string>津巴布韋</string>
		<key>code</key>
		<string>263</string>
		<key>en</key>
		<string>Zimbabwe</string>
		<key>pinyin</key>
		<string>jinbabuwei</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>DJ</string>
		<key>cn</key>
		<string>吉布提</string>
		<key>code</key>
		<string>253</string>
		<key>en</key>
		<string>Djibouti</string>
		<key>pinyin</key>
		<string>jibuti</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>KH</string>
		<key>cn</key>
		<string>柬埔寨</string>
		<key>code</key>
		<string>855</string>
		<key>en</key>
		<string>Cambodia</string>
		<key>pinyin</key>
		<string>jianpuzhai</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GN</string>
		<key>cn</key>
		<string>幾內亞</string>
		<key>code</key>
		<string>224</string>
		<key>en</key>
		<string>Guinea</string>
		<key>pinyin</key>
		<string>jineiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>HU</string>
		<key>cn</key>
		<string>匈牙利</string>
		<key>code</key>
		<string>36</string>
		<key>en</key>
		<string>Hungary</string>
		<key>pinyin</key>
		<string>xiongyali</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>NC</string>
		<key>cn</key>
		<string>新喀裏多尼亞</string>
		<key>code</key>
		<string>687</string>
		<key>en</key>
		<string>New Caledonia</string>
		<key>pinyin</key>
		<string>xinkaliduoniya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>NZ</string>
		<key>cn</key>
		<string>新西蘭</string>
		<key>code</key>
		<string>64</string>
		<key>en</key>
		<string>New Zealand</string>
		<key>pinyin</key>
		<string>xinxilan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SG</string>
		<key>cn</key>
		<string>新加坡</string>
		<key>code</key>
		<string>65</string>
		<key>en</key>
		<string>Singapore</string>
		<key>pinyin</key>
		<string>xinjiapo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>ES</string>
		<key>cn</key>
		<string>西班牙</string>
		<key>code</key>
		<string>34</string>
		<key>en</key>
		<string>Spain</string>
		<key>pinyin</key>
		<string>xibanya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GR</string>
		<key>cn</key>
		<string>希臘</string>
		<key>code</key>
		<string>30</string>
		<key>en</key>
		<string>Greece</string>
		<key>pinyin</key>
		<string>xila</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SY</string>
		<key>cn</key>
		<string>敘利亞</string>
		<key>code</key>
		<string>963</string>
		<key>en</key>
		<string>Syria</string>
		<key>pinyin</key>
		<string>xuliya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CM</string>
		<key>cn</key>
		<string>喀麥隆</string>
		<key>code</key>
		<string>237</string>
		<key>en</key>
		<string>Cameroon</string>
		<key>pinyin</key>
		<string>kamailong</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>HR</string>
		<key>cn</key>
		<string>克羅地亞</string>
		<key>code</key>
		<string>385</string>
		<key>en</key>
		<string>Croatia</string>
		<key>pinyin</key>
		<string>keluodiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>KE</string>
		<key>cn</key>
		<string>肯尼亞</string>
		<key>code</key>
		<string>254</string>
		<key>en</key>
		<string>Kenya</string>
		<key>pinyin</key>
		<string>kenniya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>KW</string>
		<key>cn</key>
		<string>科威特</string>
		<key>code</key>
		<string>965</string>
		<key>en</key>
		<string>Kuwait</string>
		<key>pinyin</key>
		<string>keweite</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CK</string>
		<key>cn</key>
		<string>庫克群島</string>
		<key>code</key>
		<string>682</string>
		<key>en</key>
		<string>Cook Islands</string>
		<key>pinyin</key>
		<string>kukequndao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>KM</string>
		<key>cn</key>
		<string>科摩羅</string>
		<key>code</key>
		<string>269</string>
		<key>en</key>
		<string>Comoros</string>
		<key>pinyin</key>
		<string>kemoluo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>QA</string>
		<key>cn</key>
		<string>卡塔爾</string>
		<key>code</key>
		<string>974</string>
		<key>en</key>
		<string>Qatar</string>
		<key>pinyin</key>
		<string>kataer</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CI</string>
		<key>cn</key>
		<string>科特迪瓦</string>
		<key>code</key>
		<string>225</string>
		<key>en</key>
		<string>Ivory Coast</string>
		<key>pinyin</key>
		<string>ketediwa</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>IL</string>
		<key>cn</key>
		<string>以色列</string>
		<key>code</key>
		<string>972</string>
		<key>en</key>
		<string>Israel</string>
		<key>pinyin</key>
		<string>yiselie</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>YE</string>
		<key>cn</key>
		<string>也門</string>
		<key>code</key>
		<string>967</string>
		<key>en</key>
		<string>Yemen</string>
		<key>pinyin</key>
		<string>yemen</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>IT</string>
		<key>cn</key>
		<string>意大利</string>
		<key>code</key>
		<string>39</string>
		<key>en</key>
		<string>Italy</string>
		<key>pinyin</key>
		<string>yidali</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GB</string>
		<key>cn</key>
		<string>英國</string>
		<key>code</key>
		<string>44</string>
		<key>en</key>
		<string>United Kingdom</string>
		<key>pinyin</key>
		<string>yingguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>VN</string>
		<key>cn</key>
		<string>越南</string>
		<key>code</key>
		<string>84</string>
		<key>en</key>
		<string>Vietnam</string>
		<key>pinyin</key>
		<string>yuenan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>IN</string>
		<key>cn</key>
		<string>印度</string>
		<key>code</key>
		<string>91</string>
		<key>en</key>
		<string>India</string>
		<key>pinyin</key>
		<string>yindu</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AM</string>
		<key>cn</key>
		<string>亞美尼亞</string>
		<key>code</key>
		<string>374</string>
		<key>en</key>
		<string>Armenia</string>
		<key>pinyin</key>
		<string>yameiniya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>IQ</string>
		<key>cn</key>
		<string>伊拉克</string>
		<key>code</key>
		<string>964</string>
		<key>en</key>
		<string>Iraq</string>
		<key>pinyin</key>
		<string>yilake</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>JO</string>
		<key>cn</key>
		<string>約旦</string>
		<key>code</key>
		<string>962</string>
		<key>en</key>
		<string>Jordan</string>
		<key>pinyin</key>
		<string>yuedan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>IR</string>
		<key>cn</key>
		<string>伊朗</string>
		<key>code</key>
		<string>98</string>
		<key>en</key>
		<string>Iran</string>
		<key>pinyin</key>
		<string>yilang</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>VG</string>
		<key>cn</key>
		<string>英屬維爾京群島</string>
		<key>code</key>
		<string>1284</string>
		<key>en</key>
		<string>British Virgin Islands</string>
		<key>pinyin</key>
		<string>yinshuweierjingqundao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>ID</string>
		<key>cn</key>
		<string>印度尼西亞</string>
		<key>code</key>
		<string>62</string>
		<key>en</key>
		<string>Indonesia</string>
		<key>pinyin</key>
		<string>yindunixiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>JM</string>
		<key>cn</key>
		<string>牙買加</string>
		<key>code</key>
		<string>1876</string>
		<key>en</key>
		<string>Jamaica</string>
		<key>pinyin</key>
		<string>yamaijia</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>RO</string>
		<key>cn</key>
		<string>羅馬尼亞</string>
		<key>code</key>
		<string>40</string>
		<key>en</key>
		<string>Romania</string>
		<key>pinyin</key>
		<string>luomaniya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>LB</string>
		<key>cn</key>
		<string>黎巴嫩</string>
		<key>code</key>
		<string>961</string>
		<key>en</key>
		<string>Lebanon</string>
		<key>pinyin</key>
		<string>libanen</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>LT</string>
		<key>cn</key>
		<string>立陶宛</string>
		<key>code</key>
		<string>370</string>
		<key>en</key>
		<string>Lithuania</string>
		<key>pinyin</key>
		<string>litaowan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>LR</string>
		<key>cn</key>
		<string>利比裏亞</string>
		<key>code</key>
		<string>231</string>
		<key>en</key>
		<string>Liberia</string>
		<key>pinyin</key>
		<string>libiliya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>RE</string>
		<key>cn</key>
		<string>留尼旺島</string>
		<key>code</key>
		<string>262</string>
		<key>en</key>
		<string>Reunion Island</string>
		<key>pinyin</key>
		<string>liuniwangdao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>RW</string>
		<key>cn</key>
		<string>盧旺達</string>
		<key>code</key>
		<string>250</string>
		<key>en</key>
		<string>Rwanda</string>
		<key>pinyin</key>
		<string>luwangda</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>LY</string>
		<key>cn</key>
		<string>利比亞</string>
		<key>code</key>
		<string>218</string>
		<key>en</key>
		<string>Libya</string>
		<key>pinyin</key>
		<string>libiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>LA</string>
		<key>cn</key>
		<string>老撾</string>
		<key>code</key>
		<string>856</string>
		<key>en</key>
		<string>Laos</string>
		<key>pinyin</key>
		<string>laowo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>LU</string>
		<key>cn</key>
		<string>盧森堡</string>
		<key>code</key>
		<string>352</string>
		<key>en</key>
		<string>Luxembourg</string>
		<key>pinyin</key>
		<string>lusenbao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>LV</string>
		<key>cn</key>
		<string>拉脫維亞</string>
		<key>code</key>
		<string>371</string>
		<key>en</key>
		<string>Latvia</string>
		<key>pinyin</key>
		<string>latuoweiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>LS</string>
		<key>cn</key>
		<string>萊索托</string>
		<key>code</key>
		<string>266</string>
		<key>en</key>
		<string>Lesotho</string>
		<key>pinyin</key>
		<string>laisuotuo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>LI</string>
		<key>cn</key>
		<string>列支敦士登</string>
		<key>code</key>
		<string>423</string>
		<key>en</key>
		<string>Liechtenstein</string>
		<key>pinyin</key>
		<string>liezhidunshideng</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>ZM</string>
		<key>cn</key>
		<string>贊比亞</string>
		<key>code</key>
		<string>260</string>
		<key>en</key>
		<string>Zambia</string>
		<key>pinyin</key>
		<string>zanbiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GI</string>
		<key>cn</key>
		<string>直布羅陀</string>
		<key>code</key>
		<string>350</string>
		<key>en</key>
		<string>Gibraltar</string>
		<key>pinyin</key>
		<string>zhibuluotuo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CF</string>
		<key>cn</key>
		<string>中非共和國</string>
		<key>code</key>
		<string>236</string>
		<key>en</key>
		<string>Central African Republic</string>
		<key>pinyin</key>
		<string>zhongweigongheguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TD</string>
		<key>cn</key>
		<string>乍得</string>
		<key>code</key>
		<string>235</string>
		<key>en</key>
		<string>Chad</string>
		<key>pinyin</key>
		<string>zhade</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CL</string>
		<key>cn</key>
		<string>智利</string>
		<key>code</key>
		<string>56</string>
		<key>en</key>
		<string>Chile</string>
		<key>pinyin</key>
		<string>zhili</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CN</string>
		<key>cn</key>
		<string>中國</string>
		<key>code</key>
		<string>86</string>
		<key>en</key>
		<string>China</string>
		<key>pinyin</key>
		<string>zhongguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MO</string>
		<key>cn</key>
		<string>中國澳門</string>
		<key>code</key>
		<string>853</string>
		<key>en</key>
		<string>Macau</string>
		<key>pinyin</key>
		<string>zhongguoaomen</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>HK</string>
		<key>cn</key>
		<string>中國香港</string>
		<key>code</key>
		<string>852</string>
		<key>en</key>
		<string>Hong Kong</string>
		<key>pinyin</key>
		<string>zhongguoxianggang</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MA</string>
		<key>cn</key>
		<string>摩洛哥</string>
		<key>code</key>
		<string>212</string>
		<key>en</key>
		<string>Morocco</string>
		<key>pinyin</key>
		<string>moluoge</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>FM</string>
		<key>cn</key>
		<string>密克羅尼西亞聯邦</string>
		<key>code</key>
		<string>691</string>
		<key>en</key>
		<string>Micronesia</string>
		<key>pinyin</key>
		<string>mikeluonixiyalianbang</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MX</string>
		<key>cn</key>
		<string>墨西哥</string>
		<key>code</key>
		<string>52</string>
		<key>en</key>
		<string>Mexico</string>
		<key>pinyin</key>
		<string>moxige</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MQ</string>
		<key>cn</key>
		<string>馬提尼克</string>
		<key>code</key>
		<string>596</string>
		<key>en</key>
		<string>Martinique</string>
		<key>pinyin</key>
		<string>matinike</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MY</string>
		<key>cn</key>
		<string>馬來西亞</string>
		<key>code</key>
		<string>60</string>
		<key>en</key>
		<string>Malaysia</string>
		<key>pinyin</key>
		<string>malaxiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>ML</string>
		<key>cn</key>
		<string>馬裏</string>
		<key>code</key>
		<string>223</string>
		<key>en</key>
		<string>Mali</string>
		<key>pinyin</key>
		<string>mali</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MZ</string>
		<key>cn</key>
		<string>莫桑比克</string>
		<key>code</key>
		<string>258</string>
		<key>en</key>
		<string>Mozambique</string>
		<key>pinyin</key>
		<string>mosangbike</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MN</string>
		<key>cn</key>
		<string>蒙古</string>
		<key>code</key>
		<string>976</string>
		<key>en</key>
		<string>Mongolia</string>
		<key>pinyin</key>
		<string>memnggu</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MG</string>
		<key>cn</key>
		<string>馬達加斯加</string>
		<key>code</key>
		<string>261</string>
		<key>en</key>
		<string>Madagascar</string>
		<key>pinyin</key>
		<string>madajiasijia</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MR</string>
		<key>cn</key>
		<string>毛裏塔尼亞</string>
		<key>code</key>
		<string>222</string>
		<key>en</key>
		<string>Mauritania</string>
		<key>pinyin</key>
		<string>maolitaniya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>PE</string>
		<key>cn</key>
		<string>秘魯</string>
		<key>code</key>
		<string>51</string>
		<key>en</key>
		<string>Peru</string>
		<key>pinyin</key>
		<string>milu</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MU</string>
		<key>cn</key>
		<string>毛裏求斯</string>
		<key>code</key>
		<string>230</string>
		<key>en</key>
		<string>Mauritius</string>
		<key>pinyin</key>
		<string>maoliqiusi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MT</string>
		<key>cn</key>
		<string>馬耳他</string>
		<key>code</key>
		<string>356</string>
		<key>en</key>
		<string>Malta</string>
		<key>pinyin</key>
		<string>maerta</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BD</string>
		<key>cn</key>
		<string>孟加拉國</string>
		<key>code</key>
		<string>880</string>
		<key>en</key>
		<string>Bangladesh</string>
		<key>pinyin</key>
		<string>mengjialaguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MW</string>
		<key>cn</key>
		<string>馬拉維</string>
		<key>code</key>
		<string>265</string>
		<key>en</key>
		<string>Malawi</string>
		<key>pinyin</key>
		<string>malawei</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MD</string>
		<key>cn</key>
		<string>摩爾多瓦</string>
		<key>code</key>
		<string>373</string>
		<key>en</key>
		<string>Moldova</string>
		<key>pinyin</key>
		<string>moerduowa</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>VI</string>
		<key>cn</key>
		<string>美屬維爾京群島</string>
		<key>code</key>
		<string>1340</string>
		<key>en</key>
		<string>Virgin Islands</string>
		<key>pinyin</key>
		<string>meishuweierjingqundao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MV</string>
		<key>cn</key>
		<string>馬爾代夫</string>
		<key>code</key>
		<string>960</string>
		<key>en</key>
		<string>Maldives</string>
		<key>pinyin</key>
		<string>maerdaifu</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MS</string>
		<key>cn</key>
		<string>蒙特塞拉特島</string>
		<key>code</key>
		<string>1664</string>
		<key>en</key>
		<string>Montserrat</string>
		<key>pinyin</key>
		<string>mengtesailatedao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MC</string>
		<key>cn</key>
		<string>摩納哥</string>
		<key>code</key>
		<string>377</string>
		<key>en</key>
		<string>Monaco</string>
		<key>pinyin</key>
		<string>monage</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>US</string>
		<key>cn</key>
		<string>美國</string>
		<key>code</key>
		<string>1</string>
		<key>en</key>
		<string>United States</string>
		<key>pinyin</key>
		<string>meiguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>NA</string>
		<key>cn</key>
		<string>納米比亞</string>
		<key>code</key>
		<string>264</string>
		<key>en</key>
		<string>Namibia</string>
		<key>pinyin</key>
		<string>namibiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>NG</string>
		<key>cn</key>
		<string>尼日利亞</string>
		<key>code</key>
		<string>234</string>
		<key>en</key>
		<string>Nigeria</string>
		<key>pinyin</key>
		<string>niriliya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>NO</string>
		<key>cn</key>
		<string>挪威</string>
		<key>code</key>
		<string>47</string>
		<key>en</key>
		<string>Norway</string>
		<key>pinyin</key>
		<string>nuowei</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>NE</string>
		<key>cn</key>
		<string>尼日爾</string>
		<key>code</key>
		<string>227</string>
		<key>en</key>
		<string>Niger</string>
		<key>pinyin</key>
		<string>nirier</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>NP</string>
		<key>cn</key>
		<string>尼泊爾</string>
		<key>code</key>
		<string>977</string>
		<key>en</key>
		<string>Nepal</string>
		<key>pinyin</key>
		<string>niboer</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>ZA</string>
		<key>cn</key>
		<string>南非</string>
		<key>code</key>
		<string>27</string>
		<key>en</key>
		<string>South Africa</string>
		<key>pinyin</key>
		<string>nanfei</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>NI</string>
		<key>cn</key>
		<string>尼加拉瓜</string>
		<key>code</key>
		<string>505</string>
		<key>en</key>
		<string>Nicaragua</string>
		<key>pinyin</key>
		<string>nijialagua</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AG</string>
		<key>cn</key>
		<string>安提瓜和巴布達</string>
		<key>code</key>
		<string>1268</string>
		<key>en</key>
		<string>Antigua and Barbuda</string>
		<key>pinyin</key>
		<string>antiguahebabuda</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AE</string>
		<key>cn</key>
		<string>阿拉伯聯合酋長國</string>
		<key>code</key>
		<string>971</string>
		<key>en</key>
		<string>United Arab Emirates</string>
		<key>pinyin</key>
		<string>alabolianheqiuzhangguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AL</string>
		<key>cn</key>
		<string>阿爾巴尼亞</string>
		<key>code</key>
		<string>355</string>
		<key>en</key>
		<string>Albania</string>
		<key>pinyin</key>
		<string>aerbaniya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AO</string>
		<key>cn</key>
		<string>安哥拉</string>
		<key>code</key>
		<string>244</string>
		<key>en</key>
		<string>Angola</string>
		<key>pinyin</key>
		<string>angela</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AR</string>
		<key>cn</key>
		<string>阿根廷</string>
		<key>code</key>
		<string>54</string>
		<key>en</key>
		<string>Argentina</string>
		<key>pinyin</key>
		<string>agenting</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>DZ</string>
		<key>cn</key>
		<string>阿爾及利亞</string>
		<key>code</key>
		<string>213</string>
		<key>en</key>
		<string>Algeria</string>
		<key>pinyin</key>
		<string>aerjiliya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AF</string>
		<key>cn</key>
		<string>阿富汗</string>
		<key>code</key>
		<string>93</string>
		<key>en</key>
		<string>Afghanistan</string>
		<key>pinyin</key>
		<string>afuhan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AZ</string>
		<key>cn</key>
		<string>阿塞拜疆</string>
		<key>code</key>
		<string>994</string>
		<key>en</key>
		<string>Azerbaijan</string>
		<key>pinyin</key>
		<string>asaibangjiang</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>EE</string>
		<key>cn</key>
		<string>愛沙尼亞</string>
		<key>code</key>
		<string>372</string>
		<key>en</key>
		<string>Estonia</string>
		<key>pinyin</key>
		<string>aishaniya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>ET</string>
		<key>cn</key>
		<string>埃塞俄比亞</string>
		<key>code</key>
		<string>251</string>
		<key>en</key>
		<string>Ethiopia</string>
		<key>pinyin</key>
		<string>aisaiebiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AW</string>
		<key>cn</key>
		<string>阿魯巴島</string>
		<key>code</key>
		<string>297</string>
		<key>en</key>
		<string>Aruba</string>
		<key>pinyin</key>
		<string>alubadao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AI</string>
		<key>cn</key>
		<string>安圭拉島</string>
		<key>code</key>
		<string>1264</string>
		<key>en</key>
		<string>Anguilla</string>
		<key>pinyin</key>
		<string>anguiladao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>IE</string>
		<key>cn</key>
		<string>愛爾蘭</string>
		<key>code</key>
		<string>353</string>
		<key>en</key>
		<string>Ireland</string>
		<key>pinyin</key>
		<string>aierlan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>OM</string>
		<key>cn</key>
		<string>阿曼</string>
		<key>code</key>
		<string>968</string>
		<key>en</key>
		<string>Oman</string>
		<key>pinyin</key>
		<string>aman</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AU</string>
		<key>cn</key>
		<string>澳大利亞</string>
		<key>code</key>
		<string>61</string>
		<key>en</key>
		<string>Australia</string>
		<key>pinyin</key>
		<string>aodaliya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>EG</string>
		<key>cn</key>
		<string>埃及</string>
		<key>code</key>
		<string>20</string>
		<key>en</key>
		<string>Egypt</string>
		<key>pinyin</key>
		<string>aiji</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AT</string>
		<key>cn</key>
		<string>奧地利</string>
		<key>code</key>
		<string>43</string>
		<key>en</key>
		<string>Austria</string>
		<key>pinyin</key>
		<string>aodili</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BT</string>
		<key>cn</key>
		<string>不丹</string>
		<key>code</key>
		<string>975</string>
		<key>en</key>
		<string>Bhutan</string>
		<key>pinyin</key>
		<string>budan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>PR</string>
		<key>cn</key>
		<string>波多黎各</string>
		<key>code</key>
		<string>1787</string>
		<key>en</key>
		<string>Puerto Rico</string>
		<key>pinyin</key>
		<string>boduolige</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BM</string>
		<key>cn</key>
		<string>百慕大群島</string>
		<key>code</key>
		<string>1441</string>
		<key>en</key>
		<string>Bermuda</string>
		<key>pinyin</key>
		<string>baimudaqundao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BJ</string>
		<key>cn</key>
		<string>貝寧</string>
		<key>code</key>
		<string>229</string>
		<key>en</key>
		<string>Benin</string>
		<key>pinyin</key>
		<string>beining</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BA</string>
		<key>cn</key>
		<string>波黑</string>
		<key>code</key>
		<string>387</string>
		<key>en</key>
		<string>Bosnia and Herzegovina</string>
		<key>pinyin</key>
		<string>bohei</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BZ</string>
		<key>cn</key>
		<string>伯利茲</string>
		<key>code</key>
		<string>501</string>
		<key>en</key>
		<string>Belize</string>
		<key>pinyin</key>
		<string>bolizi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>PL</string>
		<key>cn</key>
		<string>波蘭</string>
		<key>code</key>
		<string>48</string>
		<key>en</key>
		<string>Poland</string>
		<key>pinyin</key>
		<string>bolan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BB</string>
		<key>cn</key>
		<string>巴巴多斯</string>
		<key>code</key>
		<string>1246</string>
		<key>en</key>
		<string>Barbados</string>
		<key>pinyin</key>
		<string>babaduosi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BS</string>
		<key>cn</key>
		<string>巴哈馬</string>
		<key>code</key>
		<string>1242</string>
		<key>en</key>
		<string>Bahamas</string>
		<key>pinyin</key>
		<string>bahama</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BG</string>
		<key>cn</key>
		<string>保加利亞</string>
		<key>code</key>
		<string>359</string>
		<key>en</key>
		<string>Bulgaria</string>
		<key>pinyin</key>
		<string>baojialiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>PY</string>
		<key>cn</key>
		<string>巴拉圭</string>
		<key>code</key>
		<string>595</string>
		<key>en</key>
		<string>Paraguay</string>
		<key>pinyin</key>
		<string>balagui</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BI</string>
		<key>cn</key>
		<string>布隆迪</string>
		<key>code</key>
		<string>257</string>
		<key>en</key>
		<string>Burundi</string>
		<key>pinyin</key>
		<string>bulongdi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BW</string>
		<key>cn</key>
		<string>博茨瓦納</string>
		<key>code</key>
		<string>267</string>
		<key>en</key>
		<string>Botswana</string>
		<key>pinyin</key>
		<string>bociwana</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>IS</string>
		<key>cn</key>
		<string>冰島</string>
		<key>code</key>
		<string>354</string>
		<key>en</key>
		<string>Iceland</string>
		<key>pinyin</key>
		<string>bingdao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BR</string>
		<key>cn</key>
		<string>巴西</string>
		<key>code</key>
		<string>55</string>
		<key>en</key>
		<string>Brazil</string>
		<key>pinyin</key>
		<string>baxi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BE</string>
		<key>cn</key>
		<string>比利時</string>
		<key>code</key>
		<string>32</string>
		<key>en</key>
		<string>Belgium</string>
		<key>pinyin</key>
		<string>bilishi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BF</string>
		<key>cn</key>
		<string>布基納法索</string>
		<key>code</key>
		<string>226</string>
		<key>en</key>
		<string>Burkina Faso</string>
		<key>pinyin</key>
		<string>bujinafasuo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>PA</string>
		<key>cn</key>
		<string>巴拿馬</string>
		<key>code</key>
		<string>507</string>
		<key>en</key>
		<string>Panama</string>
		<key>pinyin</key>
		<string>banama</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BY</string>
		<key>cn</key>
		<string>白俄羅斯</string>
		<key>code</key>
		<string>375</string>
		<key>en</key>
		<string>Belarus</string>
		<key>pinyin</key>
		<string>baieluosi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BH</string>
		<key>cn</key>
		<string>巴林</string>
		<key>code</key>
		<string>973</string>
		<key>en</key>
		<string>Bahrain</string>
		<key>pinyin</key>
		<string>balin</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>BO</string>
		<key>cn</key>
		<string>玻利維亞</string>
		<key>code</key>
		<string>591</string>
		<key>en</key>
		<string>Bolivia</string>
		<key>pinyin</key>
		<string>boliweiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>PS</string>
		<key>cn</key>
		<string>巴勒斯坦</string>
		<key>code</key>
		<string>970</string>
		<key>en</key>
		<string>Palestinian Territory</string>
		<key>pinyin</key>
		<string>balesitan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>PG</string>
		<key>cn</key>
		<string>巴布亞新幾內亞</string>
		<key>code</key>
		<string>675</string>
		<key>en</key>
		<string>Papua New Guinea</string>
		<key>pinyin</key>
		<string>babuyaxinjineiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>PT</string>
		<key>cn</key>
		<string>葡萄牙</string>
		<key>code</key>
		<string>351</string>
		<key>en</key>
		<string>Portugal</string>
		<key>pinyin</key>
		<string>putaoya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GQ</string>
		<key>cn</key>
		<string>赤道幾內亞</string>
		<key>code</key>
		<string>240</string>
		<key>en</key>
		<string>Equatorial Guinea</string>
		<key>pinyin</key>
		<string>chidaojineiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>KP</string>
		<key>cn</key>
		<string>朝鮮</string>
		<key>code</key>
		<string>850</string>
		<key>en</key>
		<string>North Korea</string>
		<key>pinyin</key>
		<string>chaoxian</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>DK</string>
		<key>cn</key>
		<string>丹麥</string>
		<key>code</key>
		<string>45</string>
		<key>en</key>
		<string>Denmark</string>
		<key>pinyin</key>
		<string>danmai</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TL</string>
		<key>cn</key>
		<string>東帝汶</string>
		<key>code</key>
		<string>670</string>
		<key>en</key>
		<string>East Timor</string>
		<key>pinyin</key>
		<string>dongwendi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>DE</string>
		<key>cn</key>
		<string>德國</string>
		<key>code</key>
		<string>49</string>
		<key>en</key>
		<string>Germany</string>
		<key>pinyin</key>
		<string>deguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TG</string>
		<key>cn</key>
		<string>多哥</string>
		<key>code</key>
		<string>228</string>
		<key>en</key>
		<string>Togo</string>
		<key>pinyin</key>
		<string>duoge</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>DO</string>
		<key>cn</key>
		<string>多米尼加共和國</string>
		<key>code</key>
		<string>1809</string>
		<key>en</key>
		<string>Dominican Republic</string>
		<key>pinyin</key>
		<string>duominijiagongheguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>DM</string>
		<key>cn</key>
		<string>多米尼克</string>
		<key>code</key>
		<string>1767</string>
		<key>en</key>
		<string>Dominica</string>
		<key>pinyin</key>
		<string>duominike</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>JP</string>
		<key>cn</key>
		<string>日本</string>
		<key>code</key>
		<string>81</string>
		<key>en</key>
		<string>Japan</string>
		<key>pinyin</key>
		<string>riben</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CH</string>
		<key>cn</key>
		<string>瑞士</string>
		<key>code</key>
		<string>41</string>
		<key>en</key>
		<string>Switzerland</string>
		<key>pinyin</key>
		<string>ruishi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SE</string>
		<key>cn</key>
		<string>瑞典</string>
		<key>code</key>
		<string>46</string>
		<key>en</key>
		<string>Sweden</string>
		<key>pinyin</key>
		<string>ruidian</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>RU</string>
		<key>cn</key>
		<string>俄羅斯</string>
		<key>code</key>
		<string>7</string>
		<key>en</key>
		<string>Russia</string>
		<key>pinyin</key>
		<string>eluosi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>EC</string>
		<key>cn</key>
		<string>厄瓜多爾</string>
		<key>code</key>
		<string>593</string>
		<key>en</key>
		<string>Ecuador</string>
		<key>pinyin</key>
		<string>eguaduoer</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SV</string>
		<key>cn</key>
		<string>薩爾瓦多</string>
		<key>code</key>
		<string>503</string>
		<key>en</key>
		<string>El Salvador</string>
		<key>pinyin</key>
		<string>saerwaduo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SI</string>
		<key>cn</key>
		<string>斯洛文尼亞</string>
		<key>code</key>
		<string>386</string>
		<key>en</key>
		<string>Slovenia</string>
		<key>pinyin</key>
		<string>siluowenniya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>PM</string>
		<key>cn</key>
		<string>聖皮埃爾和密克隆群島</string>
		<key>code</key>
		<string>508</string>
		<key>en</key>
		<string>Saint Pierre and Miquelon</string>
		<key>pinyin</key>
		<string>shengpiaierhemikelongqundao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>RS</string>
		<key>cn</key>
		<string>塞爾維亞</string>
		<key>code</key>
		<string>381</string>
		<key>en</key>
		<string>Serbia</string>
		<key>pinyin</key>
		<string>saierweiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SM</string>
		<key>cn</key>
		<string>聖馬力諾</string>
		<key>code</key>
		<string>378</string>
		<key>en</key>
		<string>San Marino</string>
		<key>pinyin</key>
		<string>shengmalinuo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>LC</string>
		<key>cn</key>
		<string>聖盧西亞</string>
		<key>code</key>
		<string>1758</string>
		<key>en</key>
		<string>Saint Lucia</string>
		<key>pinyin</key>
		<string>shengluxiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CY</string>
		<key>cn</key>
		<string>塞浦路斯</string>
		<key>code</key>
		<string>357</string>
		<key>en</key>
		<string>Cyprus</string>
		<key>pinyin</key>
		<string>saipulusi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SD</string>
		<key>cn</key>
		<string>蘇丹</string>
		<key>code</key>
		<string>249</string>
		<key>en</key>
		<string>Sudan</string>
		<key>pinyin</key>
		<string>sudan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SS</string>
		<key>cn</key>
		<string>南蘇丹</string>
		<key>code</key>
		<string>211</string>
		<key>en</key>
		<string>South Sudan</string>
		<key>pinyin</key>
		<string>nansudan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>ST</string>
		<key>cn</key>
		<string>聖多美和普林西比</string>
		<key>code</key>
		<string>239</string>
		<key>en</key>
		<string>Sao Tome and Principe</string>
		<key>pinyin</key>
		<string>shengduomeihepulinxibi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>WS</string>
		<key>cn</key>
		<string>薩摩亞</string>
		<key>code</key>
		<string>685</string>
		<key>en</key>
		<string>Samoa</string>
		<key>pinyin</key>
		<string>samoya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>VC</string>
		<key>cn</key>
		<string>聖文森特和格林納丁斯</string>
		<key>code</key>
		<string>1784</string>
		<key>en</key>
		<string>Saint Vincent and The Grenadines</string>
		<key>pinyin</key>
		<string>shengwensentehegelinnadingsi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SC</string>
		<key>cn</key>
		<string>塞舌爾</string>
		<key>code</key>
		<string>248</string>
		<key>en</key>
		<string>Seychelles</string>
		<key>pinyin</key>
		<string>saisheer</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SO</string>
		<key>cn</key>
		<string>索馬裏</string>
		<key>code</key>
		<string>252</string>
		<key>en</key>
		<string>Somalia</string>
		<key>pinyin</key>
		<string>suomali</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SA</string>
		<key>cn</key>
		<string>沙特阿拉伯</string>
		<key>code</key>
		<string>966</string>
		<key>en</key>
		<string>Saudi Arabia</string>
		<key>pinyin</key>
		<string>shatealabo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SK</string>
		<key>cn</key>
		<string>斯洛伐克</string>
		<key>code</key>
		<string>421</string>
		<key>en</key>
		<string>Slovakia</string>
		<key>pinyin</key>
		<string>siluofake</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SR</string>
		<key>cn</key>
		<string>蘇裏南</string>
		<key>code</key>
		<string>597</string>
		<key>en</key>
		<string>Suriname</string>
		<key>pinyin</key>
		<string>sulinan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SZ</string>
		<key>cn</key>
		<string>斯威士蘭</string>
		<key>code</key>
		<string>268</string>
		<key>en</key>
		<string>Swaziland</string>
		<key>pinyin</key>
		<string>siweishilan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>KN</string>
		<key>cn</key>
		<string>聖基茨和尼維斯</string>
		<key>code</key>
		<string>1869</string>
		<key>en</key>
		<string>Saint Kitts and Nevis</string>
		<key>pinyin</key>
		<string>shengjiciheniweisi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SL</string>
		<key>cn</key>
		<string>塞拉利昂</string>
		<key>code</key>
		<string>232</string>
		<key>en</key>
		<string>Sierra Leone</string>
		<key>pinyin</key>
		<string>sailaliang</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>SN</string>
		<key>cn</key>
		<string>塞內加爾</string>
		<key>code</key>
		<string>221</string>
		<key>en</key>
		<string>Senegal</string>
		<key>pinyin</key>
		<string>saineijiaer</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>LK</string>
		<key>cn</key>
		<string>斯裏蘭卡</string>
		<key>code</key>
		<string>94</string>
		<key>en</key>
		<string>Sri Lanka</string>
		<key>pinyin</key>
		<string>sililanka</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>FR</string>
		<key>cn</key>
		<string>法國</string>
		<key>code</key>
		<string>33</string>
		<key>en</key>
		<string>France</string>
		<key>pinyin</key>
		<string>faguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>GF</string>
		<key>cn</key>
		<string>法屬圭亞那</string>
		<key>code</key>
		<string>594</string>
		<key>en</key>
		<string>French Guiana</string>
		<key>pinyin</key>
		<string>fashuguiyana</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>PF</string>
		<key>cn</key>
		<string>法屬玻利尼西亞</string>
		<key>code</key>
		<string>689</string>
		<key>en</key>
		<string>French Polynesia</string>
		<key>pinyin</key>
		<string>fashubolinixiya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>PH</string>
		<key>cn</key>
		<string>菲律賓</string>
		<key>code</key>
		<string>63</string>
		<key>en</key>
		<string>Philippines</string>
		<key>pinyin</key>
		<string>feilvbin</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>FO</string>
		<key>cn</key>
		<string>法羅群島</string>
		<key>code</key>
		<string>298</string>
		<key>en</key>
		<string>Faroe Islands</string>
		<key>pinyin</key>
		<string>faluoqundao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>FI</string>
		<key>cn</key>
		<string>芬蘭</string>
		<key>code</key>
		<string>358</string>
		<key>en</key>
		<string>Finland</string>
		<key>pinyin</key>
		<string>fenlan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>CV</string>
		<key>cn</key>
		<string>佛得角</string>
		<key>code</key>
		<string>238</string>
		<key>en</key>
		<string>Cape Verde</string>
		<key>pinyin</key>
		<string>fudejiao</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>FJ</string>
		<key>cn</key>
		<string>斐濟</string>
		<key>code</key>
		<string>679</string>
		<key>en</key>
		<string>Fiji</string>
		<key>pinyin</key>
		<string>feiji</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TO</string>
		<key>cn</key>
		<string>湯加</string>
		<key>code</key>
		<string>676</string>
		<key>en</key>
		<string>Tonga</string>
		<key>pinyin</key>
		<string>tangjia</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TZ</string>
		<key>cn</key>
		<string>坦桑尼亞</string>
		<key>code</key>
		<string>255</string>
		<key>en</key>
		<string>Tanzania</string>
		<key>pinyin</key>
		<string>tansangniya</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TN</string>
		<key>cn</key>
		<string>突尼斯</string>
		<key>code</key>
		<string>216</string>
		<key>en</key>
		<string>Tunisia</string>
		<key>pinyin</key>
		<string>tunisi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TH</string>
		<key>cn</key>
		<string>泰國</string>
		<key>code</key>
		<string>66</string>
		<key>en</key>
		<string>Thailand</string>
		<key>pinyin</key>
		<string>taiguo</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TW</string>
		<key>cn</key>
		<string>臺灣</string>
		<key>code</key>
		<string>886</string>
		<key>en</key>
		<string>Taiwan</string>
		<key>pinyin</key>
		<string>taiwan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TM</string>
		<key>cn</key>
		<string>土庫曼斯坦</string>
		<key>code</key>
		<string>993</string>
		<key>en</key>
		<string>Turkmenistan</string>
		<key>pinyin</key>
		<string>tukumansitan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TJ</string>
		<key>cn</key>
		<string>塔吉克斯坦</string>
		<key>code</key>
		<string>992</string>
		<key>en</key>
		<string>Tajikistan</string>
		<key>pinyin</key>
		<string>tajikesitan</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TR</string>
		<key>cn</key>
		<string>土耳其</string>
		<key>code</key>
		<string>90</string>
		<key>en</key>
		<string>Turkey</string>
		<key>pinyin</key>
		<string>tuerqi</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TT</string>
		<key>cn</key>
		<string>特立尼達和多巴哥</string>
		<key>code</key>
		<string>1868</string>
		<key>en</key>
		<string>Trinidad and Tobago</string>
		<key>pinyin</key>
		<string>telinidaheduobage</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>AD</string>
		<key>cn</key>
		<string>安道爾共和國</string>
		<key>code</key>
		<string>376</string>
		<key>en</key>
		<string>Andorra</string>
		<key>pinyin</key>
		<string>andaoer</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>MD</string>
		<key>cn</key>
		<string>馬其頓</string>
		<key>code</key>
		<string>389</string>
		<key>en</key>
		<string>Macedonia</string>
		<key>pinyin</key>
		<string>maqidun</string>
	</dict>
	<dict>
		<key>abbr</key>
		<string>TCI</string>
		<key>cn</key>
		<string>特克斯和凱科斯群島</string>
		<key>code</key>
		<string>1649</string>
		<key>en</key>
		<string>Turks and Caicos Islands</string>
		<key>pinyin</key>
		<string>tekesihekaikesiqundao</string>
	</dict>
</array>
</plist>
